extends layouts/admin

block title
    | Настройки

block content
    -
        var names = {'location': 'Геолокация', 'first_km': 'Первые км, км',
            'price_first_km': 'Стоимость первых км, сум', 'limit_km': 'Лимит доставки, км',
            'price_per_km': 'Стоимость за км, сум'};
    div.container.center-align(style={'margin-top': '40px', 'margin-bottom': '40px', 'color': 'black'})
        form.row.black-text(method='post' action=req.originalUrl)
            input(type='hidden' name='_csrf' value=req.csrfToken())
            each name, index in names
                - var option = settings.find((o) => o[index] !== undefined)[index]
                if index == 'location'
                    div.input-field
                        input#latitude(type='text' name='location[latitude]' value=option.latitude)
                        label(for='latitude') Широта
                    div.input-field
                        input#longitude(type='text' name='location[longitude]' value=option.longitude)
                        label(for='latitude') Долгота
                    div#map(style={'height': '400px', 'margin-bottom': '40px'})
                else
                    div.input-field
                        input(type='text' id=index name=index value=option)
                        label(for=index)= name
            input.btn(type='submit' value='Сохранить')

block head
    script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=' + process.env.YANDEXMAP_TOKEN type='text/javascript')
    -
        var location = settings.find((o) => o['location'] !== undefined)['location']
    script.
        var locationMap = null;
        var placemark = null;
        function init() {
            locationMap = new ymaps.Map("map", {
                center: [41.1500, 63.9805],
                zoom: 5
            });
            placemark = new ymaps.Placemark([#{location.latitude}, #{location.longitude}]);
            locationMap.geoObjects.add(placemark);
            locationMap.events.add('click', function (e) {
                var coords = e.get('coords');
                document.getElementById('latitude').value = coords[0].toPrecision(6);
                document.getElementById('longitude').value = coords[1].toPrecision(6);
                placemark.geometry.setCoordinates([coords[0], coords[1]]);
            });
        }
        function refresh() {
            console.log('changed');
            var lat = parseInt(document.getElementById('latitude').value);
            var lon = parseInt(document.getElementById('longitude').value);
            locationMap.setCenter([lat, lon]);
            placemark.geometry.setCoordinates([lat, lon]);
        }
        document.addEventListener("DOMContentLoaded", function () {
            ymaps.ready(init);
            document.getElementById('latitude').addEventListener('change', refresh);
            document.getElementById('longitude').addEventListener('change', refresh);
        });